*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

svg {
  display: block;
}

body {
  font-family: Roboto, Arial, sans-serif;
}

#header {
  width: 100%;
  height: 56px;
  padding: 0 16px;
  position: fixed;
  z-index: 1;
  font-size: 0;
}

#start {
  padding: 0;
  margin: 0;
  height: 56px;
  width: 25%;
  position: relative;
  display: inline-block;
  left: 0;
  right: 0;
}

#start a {
  color: #0f0f0f;
  text-decoration: none;
}

#start a:hover {
  color: #0f0f0f;
}

#start a:visited {
  color: #0f0f0f;
}

#guild-btn {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 8px;
  margin: 8px 0;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
}

#guild-btn:hover {
  background-color: #f0f0f0;
}

#logo {
  height: 100%;
  padding: 18px 14px 18px 16px;
  display: inline-block;
  font-size: 1rem;
  position: relative;
}

#country-code {
  height: 44px;
  color: #606060;
  font-size: 9px;
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  transform: translate(-70%, -78%);
}

#center {
  margin: auto;
  height: 100%;
  width: 50%;
  position: relative;
  display: inline-block;
  left: 0;
  right: 0;
}

.search {
  float: left;
}

#yt-searchbox {
  position: absolute;
  margin: 0 0 0 40px;
  padding: 0 4px;
  height: 40px;
  width: 75%;
  color: #0f0f0f;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ytSearchboxComponentInputBox {
  position: relative;
  height: 100%;
  width: 75%;
  border: 1px solid;
  border-color: #c6c6c6;
  border-right: 0;
  background-color: #fff;
  box-shadow: inset 0 1px 2px #eee;
  border-radius: 40px 0 0 40px;
  margin-left: 32px;
  padding: 0 4px 0 16px;
  cursor: text;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
}

.ytSearchboxComponentSearchButton {
  height: 100%;
  border: 1px solid #d3d3d3;
  background-color: #f8f8f8;
  width: 64px;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: inherit;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(0, -50%);
}
.ytSearchboxComponentSearchButton div {
  margin: auto;
}

.hiddenSearchIcon {
  display: none;
  width: 20px;
  height: 20px;
  padding: 2px 12px 2px 16px;
  margin: 5px 0px;
  position: absolute;
  left: -7%;
}

.hiddenSearchIcon:hover {
  display: inline-block;
}

.ytSearchboxComponentInput {
  display: inline-block;
}
.ytSearchboxComponentInput input {
  padding: 10px 0;
  margin: 0;
  width: 100%;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: inherit;
  outline: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.yt-icon-button {
  vertical-align: middle;
  color: inherit;
  outline: none;
  background: none;
  margin: 0;
  border: none;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

#yt-button-shape {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  background-color: #f8f8f8;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 8px;
  margin: 0;
  left: 87%;
  top: 0%;
  cursor: pointer;
}

#yt-button-shape button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 8px;
  border: 0px solid #f8f8f8;
}

#yt-button-shape button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

#end {
  min-width: 225px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0;
}

.menu-button {
  width: 40px;
  height: 40px;
  padding: 8px;
  margin: 8px;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  position: absolute;
  right: 100px;
  display: inline-block;
  cursor: pointer;
  transition: 1s;
  border: 0px solid #f8f8f8;
}

.login-button {
  display: inline-block;
  width: 82px;
  height: 34px;
  padding: 0;
  margin: 11px 16px;
  border-radius: 18px;
  border: 1px solid #c6c6c6;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.login-button:hover {
  background-color: rgba(62, 166, 255, 0.3);
  border: 1px solid rgba(62, 166, 255, 0.3);
}

.login-button-icon {
  float: left;
  width: 24px;
  height: 24px;
  padding: 5px;
  color: #065fd4;
}

.login-button-text {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #065fd4;
  font-size: 14px;
  line-height: 36px;
  float: left;
  margin-left: 16px;
}

#sidebar {
  overflow-y: hidden;
  overflow-x: hidden;
  position: fixed;
  top: 56px;
  width: 240px;
  height: calc(100% - 56px);
}

#sidebar:hover {
  overflow-y: scroll;
  overflow-x: hidden;
}

#sidebar::-webkit-scrollbar {
  width: 6px;
}

#sidebar::-webkit-scrollbar-thumb {
  background-color: #909090; /* 滾動條顏色 */
  border-radius: 6px;
}

#sidebar::-webkit-scrollbar-track {
  background-color: transparent; /* 滾動條背景 */
}

.item {
  padding: 12px;
  border-bottom: 1px solid #eaeaea;
}

.guild-section {
  width: 204px;
  height: 40px;
  padding: 0 12px;
  color: #0f0f0f;
  border-radius: 10px;
  cursor: pointer;
}

.guild-section:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.guild-icon {
  margin-right: 24px;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.guild-name {
  font-size: 14px;
  line-height: 40px;
  font-weight: 500;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.login-request {
  width: 204px;
  height: 40px;
  font-size: 14px;
  color: #0f0f0f;
  border-radius: 10px;
  cursor: pointer;
  line-height: 20px;
  margin-bottom: 12px;
}

.item-login {
  padding: 16px 32px;
  border-bottom: 1px solid #eaeaea;
  cursor: auto;
}

.item-login .login-button {
  display: block;
  overflow: hidden;
  float: none;
  position: static;
  margin: 0;
}

.item h3 {
  padding: 6px 12px 4px 12px;
  font-size: 16px;
  font-weight: 500;
  color: #0f0f0f;
}

.footer {
  width: 100%;
  height: 151px;
}
#guide-links-primary,
#guide-links-secondary {
  width: 100%;
  padding: 16px 24px 0px 24px;
}

#guide-links-primary a,
#guide-links-secondary a {
  color: #606060;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  margin-right: 2px;
}

#copyright {
  padding: 16px 24px;
  font-size: 12px;
  color: #909090;
}

.search-tag {
  width: 100%;
  height: 56px;
  padding: 0px 24px;
}

#content {
  margin: 0;
  padding: 0;
  width: calc(100% - 240px);
  height: calc(100% - 56px);
  position: relative;
  display: block;
  top: 56px;
  left: 240px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#content::-webkit-scrollbar {
  width: 6px;
}
#content::-webkit-scrollbar-thumb {
  background-color: #909090; /* 滾動條顏色 */
  border-radius: 6px;
}
#content::-webkit-scrollbar-track {
  background-color: transparent; /* 滾動條背景 */
}

.tag-container {
  height: 56px;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.05, 0, 0, 1);
  will-change: transform;
  white-space: nowrap;
}

.tag {
  margin: 12px 12px 12px 0;
  padding: 0 10px;
  height: 32px;
  display: inline-block;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 500;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  position: relative;
  color: #0f0f0f;
  background-color: rgba(0, 0, 0, 0.05);
}

.tag:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
  height: 100%;
  padding: 24px;
}

.container .row {
  height: 310px;
  font-size: 0;
}

.container .row .col {
  width: 20%;
  height: 100%;
  padding: 0px 8px 32px 8px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  font-size: 14px;
}

.card > img {
  width: 100%;
  height: 175px;
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
}

.card-body {
  font-size: 0;
  position: relative;
}

.avatar-container {
  height: 48px;
  width: 48px;
  display: inline-block;
  font-size: 12px;
  vertical-align: top;
}

.avatar-shape {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 12px;
  margin-top: 12px;
  overflow: hidden;
}

.meta {
  width: 75%;
  display: inline-block;
  font-size: 12px;
  overflow: hidden;
}

.card-title {
  margin: 12px 0 4px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  overflow: hidden;
  color: #0f0f0f;

  /* 新增以下屬性 */
  display: -webkit-box;
  line-clamp: 2; /* 限制顯示的行數 */
  -webkit-line-clamp: 2; /* 限制顯示的行數 */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.byline-container {
  font-size: 0;
  color: #606060;
  cursor: pointer;
}

.channel-name {
  width: auto;
  height: 20px;
  display: inline-block;
  font-size: 14px;
}

.channel-name:hover {
  color: #0f0f0f;
}
.viewed-icon {
  width: auto;
  height: 12px;
  display: inline-block;
  font-size: 14px;
  margin-left: 4px;
}

.metadata-line {
  font-size: 14px;
  height: 20px;
  color: #606060;
}

.action-menu {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  position: absolute;
  right: -2.5%;
  top: 4px;
  cursor: pointer;
}

.action-menu:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
